.inlogheader{
    display: flex;
    justify-content: center;
}

.adminform {
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
   }

label{
    justify-content: center;
    padding: 20px;
}
.login-content{
    display: flex;
    justify-content: center;
}