header {
    display: flex;
    flex-direction: column;
    heigth: 70px;
    padding-top: 20px;
}

.img1 {
    position: absolute;
    margin-left: 5%;
    margin-top: -2px;
    border-radius: 2px;
}

.header-ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: darkseagreen;
    justify-content: center;
}

li {
    display: inline-block;
    padding: 15px 30px;
}
.header-btn{
    border: none;
    background-color: darkseagreen;
    font-size: 15px;
    color: purple;
}
.active-link{
    color: purple;
}

