.contact-content{
    display: flex;

}
.contact-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.contact-content-form{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.contact-form-a{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.contact-text{
    width: 80%;
    height: 300px;


}
.contact-info{
    background-color: darkseagreen;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left:dotted;
    border-width: 0.5px;
    border-radius: 10px;
}